@import url('https://fonts.googleapis.com/css2?family=Klee+One&display=swap');

body {
  background-color: #570202
 }
  h1{
  color: #FFFFFF
}

p{
  color: #FFFFFF
  font-family: 'Klee One', cursive;
    
}

li{
  color: #FFFFFF
}

h2{
  color: #FFFFFF
}
